#makeGreen{
  color: white
  
  
}

#Green{
  color: white
}

#makeBlue{
  color:white
}

#makepink{
  color:white
  
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

li {
  list-style-type: none;
  font-size: 25px;
  
}
li a {
  text-decoration: none;
}


body{
  background: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

  Linear-gradient(127deg, black, black 70.71%),
  
  Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  
}

.entete{
  color: white
  
}


.entete {
  position: relative;
  width: 100%;
}


.entete img {
  width: 100%;
  height: auto;
}

.entete .entete1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:none;
  color: white;
  font-size: 90px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.coursesb {
text-align: center;
}
.coursesd {
display: inline-block;
}
.coursesimg {
position: relative;
}
.coursesimg a {
position: absolute;
right: 35%;
bottom: 50%;
}